
/* Global Styling Start */

* {
    box-sizing: border-box;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Handlee', sans-serif;
    background-color: var(--primaryColor);
}

/* Global Styling End */

:root {
    --primaryColor: #e6e0d4;
    --secondaryColor: #fce0a5;
    --letterSpacingHeader: 0.5rem;
    --letterSpacingContent: 0.2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Satisfy', sans-serif;
}

h2 {
    font-size: 3.5rem;
    letter-spacing: var(--letterSpacingHeader);
}

h3 {
    font-size: 3rem;
    letter-spacing: var(--letterSpacingContent);
}

h5 {
    font-size: 2.5rem;
}

p {
    font-size: 1.8rem;
}

/* NavBar Start */

.navbar-container {
    width: 100%;
    background-color: var(--primaryColor);
    display: flex;
    justify-content: flex-end;
}

.navbar-container ul {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.navbar-container li {
    list-style: none;
    font-size: 2rem;
    margin-right: 3rem;
}

.navbar-container li a {
    display: block;
    cursor: pointer;
    font-size: 2rem;
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding: 1rem;
}
.navbar-container li a:hover {
    background-color: #cec9bf;
}

/* NavBar End */

/* Header Start */

.header-container {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-image {
    height: 100%;
    width: 100%;
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.header-container h1 {
    font-size: 12rem;
    letter-spacing: var(--letterSpacingHeader);
    padding: 2rem;
    color: rgb(245, 222, 179);
    border: 1px solid black;
    background-color: rgba(245, 222, 179, 0.2);
    text-shadow: 0 0 8px black;
}

/* Header End */

/* Main Area Start */

.main-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.section-left {
    flex: 2;
}

.section-left .top-product {
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    border-right: 1px solid #000;
}

.section-left .top-product img {
    width: 100%;
}

.section-left .top-product h5 {
    margin-top: 2rem;
}

.section-left .top-product p {
    margin-top: -2rem;
}

.section-left .top-product ul {
    align-self: flex-start;
}

.section-left .top-product li span{
    font-size: 2rem;
}

.section-left .top-product h6{
    margin-top: 1rem;
    font-size: 2.4rem;
    padding: 1.8rem 20%;
    background-color: coral;
    color: var(--primaryColor);
    text-shadow: 0 0 5px black;
    border-radius: 4px;
}

.section-center {
    flex: 5;
    padding: 2rem;
}

.section-center .about-article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-center .about-article img {
    height: 100%;
    width: 100%;
}

.section-center .products-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section-center .coffee-products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section-center .coffee-products {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.section-center .coffee-card {
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondaryColor);
    margin: 1rem;
    box-shadow: 0 0 2rem #000;
}

.section-center .coffee-card img{
    display: block;
    width: 100%;
    height: 200px;
}

.section-center .coffee.card h5 {
    margin-top: 2rem;
}

.section-center .coffee-card p {
    margin-top: -2rem;
    background-color: coral;
    padding: 2rem 4rem;
    border-radius: 10px;
    color: white;
}

.section-right {
    flex: 1;
}

.icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 2rem;
}

.icons-container i {
    font-size: 3rem;
    margin: 2rem auto;
}


/* Main Area End */

/* Footer Start */

.footer-container {
    margin-top: 6rem;
    background-color: var(--secondaryColor);
    display: flex;
    justify-content: space-around;
    border-top: 1px solid coral;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    flex-wrap: wrap;
}

.logo-container span {
    font-size: 2rem;
}

.contact-container {
    display: block;
}

.contact-container span {
    font-size: 2rem;
}

/* Footer End */